.container-fluid {
  padding: 0px; }

body {
  margin-top: 75px; }

.btn-default {
  border-radius: 3px;
  color: #FFFFFF;
  border-width: 3px;
  background-color: #0e0b21;
  border-color: #0e0b21;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 10px; }
  @media (min-width: 768px) and (max-width: 1025px) {
    .btn-default {
      font-size: 14px; } }
  @media (min-width: 1026px) {
    .btn-default {
      font-size: 14px; } }
  .btn-default span {
    margin-right: 10px; }

.btn-default:hover {
  border-radius: 3px;
  color: #FFFFFF;
  border-width: 3px;
  background-color: #0e0b21;
  border-color: #9c43a0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 10px; }
  @media (min-width: 768px) and (max-width: 1025px) {
    .btn-default:hover {
      font-size: 14px; } }
  @media (min-width: 1026px) {
    .btn-default:hover {
      font-size: 14px; } }
  .btn-default:hover span {
    margin-right: 10px; }

#menuArea-container {
  box-shadow: 0px 0px 5px 0px RGBA(0, 0, 0, 0.2);
  padding: 20px 0px 20px 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 70;
  background-color: RGBA(255, 255, 255, 0.97);
  min-height: 75px; }
  #menuArea-container #mobileMenu {
    display: none;
    color: #c0c1be; }
    #menuArea-container #mobileMenu ul {
      list-style: none;
      padding: 0px;
      margin: 10px 0px 0px 0px; }
      #menuArea-container #mobileMenu ul li {
        text-align: center;
        font-size: 20px;
        line-height: 40px; }
        #menuArea-container #mobileMenu ul li a {
          color: #c0c1be; }
          #menuArea-container #mobileMenu ul li a img {
            height: 30px;
            width: 30px;
            margin: 0px 10px 0px 10px; }

#menuArea-section2 {
  color: #c0c1be; }
  #menuArea-section2 ul {
    list-style: none;
    padding: 9px 0px 0px 0px; }
    #menuArea-section2 ul li {
      float: right;
      font-size: 16px;
      padding: 0px 12px 0px 12px;
      line-height: 22px; }
      #menuArea-section2 ul li a {
        color: #c0c1be;
        text-decoration: none;
        font-size: 14px; }
        @media (min-width: 768px) and (max-width: 1025px) {
          #menuArea-section2 ul li a {
            font-size: 14px; } }
        @media (min-width: 1026px) {
          #menuArea-section2 ul li a {
            font-size: 16px; } }
        #menuArea-section2 ul li a:hover {
          color: #9c43a0;
          text-decoration: none; }

.standardSection, #companyArea-container, #chooseleads-container, #chooseleadsvoice-container, #clvdynamix-container, #meettheteam-container, #contactus-container {
  padding: 50px 0px 50px 0px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.75px;
  line-height: 150%;
  font-weight: 300; }
  .standardSection p, #companyArea-container p, #chooseleads-container p, #chooseleadsvoice-container p, #clvdynamix-container p, #meettheteam-container p, #contactus-container p {
    padding: 0px 0px 20px 0px; }
  .standardSection p:last-child, #companyArea-container p:last-child, #chooseleads-container p:last-child, #chooseleadsvoice-container p:last-child, #clvdynamix-container p:last-child, #meettheteam-container p:last-child, #contactus-container p:last-child {
    padding: 0px 0px 0px 0px; }
  .standardSection .titleImage, #companyArea-container .titleImage, #chooseleads-container .titleImage, #chooseleadsvoice-container .titleImage, #clvdynamix-container .titleImage, #meettheteam-container .titleImage, #contactus-container .titleImage {
    width: 80%; }
  .standardSection ul, #companyArea-container ul, #chooseleads-container ul, #chooseleadsvoice-container ul, #clvdynamix-container ul, #meettheteam-container ul, #contactus-container ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    .standardSection ul li, #companyArea-container ul li, #chooseleads-container ul li, #chooseleadsvoice-container ul li, #clvdynamix-container ul li, #meettheteam-container ul li, #contactus-container ul li {
      margin: 10px 0px 10px 0px;
      padding: 0px; }
      .standardSection ul li a, #companyArea-container ul li a, #chooseleads-container ul li a, #chooseleadsvoice-container ul li a, #clvdynamix-container ul li a, #meettheteam-container ul li a, #contactus-container ul li a {
        color: #ffffff;
        text-decoration: underline; }

#captureArea-page1 {
  padding: 50px 0px 50px 0px;
  background: linear-gradient(rgba(101, 32, 111, 0.8), rgba(101, 32, 111, 0.8)), url("../../img/faces.jpg");
  background-size: auto;
  background-position: top left; }

#captureArea-page2 {
  padding: 50px 0px 50px 0px;
  background: linear-gradient(rgba(101, 32, 111, 0.8), rgba(101, 32, 111, 0.8)), url("../../img/hands.jpg");
  background-size: cover;
  background-position: center; }

#captureArea-page3 {
  padding: 50px 0px 50px 0px;
  background: linear-gradient(rgba(101, 32, 111, 0.8), rgba(101, 32, 111, 0.8)), url("../../img/peoples.jpg");
  background-size: cover;
  background-position: center; }

#captureArea-page4 {
  padding: 50px 0px 50px 0px;
  background: linear-gradient(rgba(101, 32, 111, 0.8), rgba(101, 32, 111, 0.8)), url("../../img/telephones.jpg");
  background-size: cover;
  background-position: bottom left; }

#captureArea-container {
  padding: 0px 0px 0px 0px;
  font-family: "Roboto", sans-serif;
  color: #ffffff; }
  #captureArea-container h1 {
    font-weight: 300;
    font-size: 26px; }
    @media (min-width: 768px) and (max-width: 1025px) {
      #captureArea-container h1 {
        font-size: 50px; } }
    @media (min-width: 1026px) {
      #captureArea-container h1 {
        font-size: 60px; } }
  #captureArea-container h2 {
    font-weight: 300;
    font-size: 16px;
    color: #eab939;
    padding: 0px 15% 0px 15%; }
  #captureArea-container p, #captureArea-container h2 {
    margin-top: 50px; }
  #captureArea-container .btn-default {
    border-radius: 3px;
    color: #FFFFFF;
    border-width: 3px;
    background-color: #0e0b21;
    border-color: #0e0b21;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 10px; }
    @media (min-width: 768px) and (max-width: 1025px) {
      #captureArea-container .btn-default {
        font-size: 14px; } }
    @media (min-width: 1026px) {
      #captureArea-container .btn-default {
        font-size: 14px; } }
    #captureArea-container .btn-default span {
      margin-right: 10px; }
  #captureArea-container .btn-default:hover {
    border-radius: 3px;
    color: #FFFFFF;
    border-width: 3px;
    background-color: #0e0b21;
    border-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 10px; }
    @media (min-width: 768px) and (max-width: 1025px) {
      #captureArea-container .btn-default:hover {
        font-size: 14px; } }
    @media (min-width: 1026px) {
      #captureArea-container .btn-default:hover {
        font-size: 14px; } }
    #captureArea-container .btn-default:hover span {
      margin-right: 10px; }

#companyArea-container img {
  width: 200px;
  padding: 0px 0px 20px 0px; }
#companyArea-container .button-row {
  margin-top: 30px; }

#chooseleads-container {
  background-color: #0e0b21;
  background-image: url("/img/backgrounds/chooseleads-block.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  color: #cccccc; }
  #chooseleads-container .btn-default {
    border-radius: 3px;
    color: #FFFFFF;
    border-width: 3px;
    background-color: #9c43a0;
    border-color: #9c43a0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 10px; }
    @media (min-width: 768px) and (max-width: 1025px) {
      #chooseleads-container .btn-default {
        font-size: 14px; } }
    @media (min-width: 1026px) {
      #chooseleads-container .btn-default {
        font-size: 14px; } }
    #chooseleads-container .btn-default span {
      margin-right: 10px; }
  #chooseleads-container .btn-default:hover {
    border-radius: 3px;
    color: #ffffff;
    border-width: 3px;
    background-color: #9c43a0;
    border-color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 10px; }
    @media (min-width: 768px) and (max-width: 1025px) {
      #chooseleads-container .btn-default:hover {
        font-size: 14px; } }
    @media (min-width: 1026px) {
      #chooseleads-container .btn-default:hover {
        font-size: 14px; } }
    #chooseleads-container .btn-default:hover span {
      margin-right: 10px; }
  #chooseleads-container b {
    color: #FFFFFF; }

#chooseleadsvoice-container {
  background-color: #9c43a0;
  background-image: url("/img/backgrounds/clv-block.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  color: #cccccc; }
  #chooseleadsvoice-container b {
    color: #FFFFFF; }

#clvdynamix-container {
  background-color: #FFFFFF;
  background-repeat: no-repeat; }
  @media (min-width: 1026px) {
    #clvdynamix-container {
      background-image: url("/img/backgrounds/clvdynamix-block-right.png"), url("/img/backgrounds/clvdynamix-block-left.png");
      background-position: bottom right, bottom left; } }

#meettheteam-container {
  background-color: #f6f6f6;
  background-repeat: no-repeat; }
  @media (min-width: 1026px) {
    #meettheteam-container {
      background-image: url("/img/backgrounds/meettheteam-block-right.png"), url("/img/backgrounds/meettheteam-block-left.png");
      background-position: top right, top left; } }
  #meettheteam-container h2 {
    color: #812e8d;
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0px 0px 20px 0px; }

#contactus-container {
  background-color: #0e0b21;
  color: #ffffff; }
  #contactus-container .addressText .col-sm-7 {
    text-align: center; }
    @media (min-width: 768px) and (max-width: 1025px) {
      #contactus-container .addressText .col-sm-7 {
        text-align: left; } }
    @media (min-width: 1026px) {
      #contactus-container .addressText .col-sm-7 {
        text-align: left; } }
  #contactus-container .addressText .col-sm-5 {
    text-align: center; }
    @media (min-width: 768px) and (max-width: 1025px) {
      #contactus-container .addressText .col-sm-5 {
        text-align: right; } }
    @media (min-width: 1026px) {
      #contactus-container .addressText .col-sm-5 {
        text-align: right; } }
  #contactus-container .btn-contact {
    background-color: #812e8d;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px; }
    #contactus-container .btn-contact:hover {
      color: #e6e6e6;
      background-color: #a43bb3;
      border-color: #ffffff; }
  #contactus-container h1 {
    color: #812e8d;
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0px 0px 50px 0px; }
  #contactus-container #map {
    height: 328px; }
  #contactus-container a {
    color: #ffffff;
    text-decoration: underline; }
    #contactus-container a:hover {
      text-decoration: none; }

#footer-container {
  background-color: #311834;
  padding: 20px 0px 20px 0px;
  font-family: "Roboto", sans-serif;
  color: #ffffff; }
  #footer-container .col-md-9 {
    text-align: center; }
    @media (min-width: 1026px) {
      #footer-container .col-md-9 {
        text-align: left; } }
  #footer-container .col-md-3 {
    text-align: center; }
    @media (min-width: 1026px) {
      #footer-container .col-md-3 {
        text-align: right; } }
  #footer-container a {
    font-size: 11px;
    opacity: 0.5;
    color: #ffffff; }
  #footer-container .lightText {
    font-weight: 500;
    margin-top: 10px;
    font-size: 11px;
    opacity: 1;
    color: #9334a0; }
  #footer-container img {
    height: 50px;
    margin: 0px 10px 0px 10px; }

.buttonRow {
  margin-top: 40px; }

.legalIcons img {
  height: 50px;
  margin: 0px 10px 0px 10px; }

.meetHolder {
  height: 550px;
  overflow: hidden; }
  .meetHolder .meetRow {
    height: 220px; }
    .meetHolder .meetRow .meetHolder {
      width: 220px;
      height: 220px;
      float: left; }
      .meetHolder .meetRow .meetHolder .meetPerson {
        position: absolute;
        margin-top: 32.12px;
        margin-left: 32.12px;
        height: 154px;
        width: 154px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        background-color: #ffffff;
        overflow: hidden; }
        .meetHolder .meetRow .meetHolder .meetPerson:hover {
          background-color: #812e8d !important; }
          .meetHolder .meetRow .meetHolder .meetPerson:hover img {
            opacity: 0.4; }
          .meetHolder .meetRow .meetHolder .meetPerson:hover .meetInformation {
            display: block; }
        .meetHolder .meetRow .meetHolder .meetPerson img {
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          position: absolute;
          top: -20px;
          left: -20px;
          width: 140%;
          pointer-events: none; }
        .meetHolder .meetRow .meetHolder .meetPerson .meetInformation {
          display: none;
          position: absolute;
          height: 149.82px;
          width: 149.82px;
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          font-size: 12px;
          line-height: 13px; }
          .meetHolder .meetRow .meetHolder .meetPerson .meetInformation span {
            text-shadow: 1px 1px 1px #000000;
            color: #ffffff;
            padding-top: 50%;
            margin-top: -13px;
            display: block;
            pointer-events: none; }
      .meetHolder .meetRow .meetHolder .meetHidden {
        display: none; }
  .meetHolder .meetRowOffset {
    margin-left: 110px; }
  .meetHolder .negative {
    position: absolute;
    margin-top: -110px; }

.socialIcon img {
  height: 20px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.2; }
  .socialIcon img:hover {
    opacity: 1;
    -webkit-filter: none;
            filter: none; }

.menuIcon img {
  height: 20px; }
  .menuIcon img:hover {
    opacity: 1;
    -webkit-filter: none;
            filter: none; }

@media (min-width: 768px) {
  .row {
    position: relative; }
  .bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0; } }

#overlay {
  top: 0;
  left: 0;
  background: rgba(101, 32, 111, 0.8);
  height: 100%;
  width: 100%;
  z-index: 99 !important;
  position: fixed;
  display: none; }
  #overlay #choices {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -120px 0px 0px -272px;
    border: 5px #f1f1f1 solid; }
    #overlay #choices #closeOverlay img {
      height: 20px;
      width: 20px;
      position: absolute;
      top: 5px;
      right: 5px;
      -webkit-filter: grayscale(1);
              filter: grayscale(1); }
    #overlay #choices #options {
      height: 240px;
      width: 544px; }

.extraPad {
  margin-bottom: 20px; }
